* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-inline: 350px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header>nav>.header-pages {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav>.header-pages>img {
    cursor: pointer;
}

header>nav>.header-pages>ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

header>nav>.header-pages>ul>li {
    list-style-type: none;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

header>nav>.header-buttons>.header-post-btn {
    font-size: 17px;
    padding: 15px 24px;
    color: white;
    font-weight: 700;
    background: #27CB8B;
    border: 1px solid #27CB8B;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}

header>nav>.header-buttons>.header-log-in-btn {
    padding: 17px 41px;
    font-size: 17px;
    color: white;
    font-weight: 700;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}